.banner-area{
    display: flex;
    margin-top: 60px;
}
.content-area{
    margin-top: 60px;
}
span{
    color: orangered;
}

.content-area h1{
    font-size: 48px;
}

.content-area p{
    width: 75%;
    padding: 20px 0 40px 0;
    text-align: justify;
}

.content-btn{
    padding: 20px;
    cursor: pointer;
    background-color: white;
    font-size: 18px;
    border-radius: 4px;
}

.content-btn:hover{
    transition: .2s;
    background-color: orange;
    color: white;
    border:2px solid orange;

}

.home-review-section{
    margin: 120px 0;
}

.review-btn {
    padding: 20px;
    margin: 20px 0;
    cursor: pointer;
    color: white;
    background-color: orange;
    font-size: 20px;
    border: none;
    border-radius: 4px;
}

@media screen and (max-width: 780px){
    .banner-area{
        flex-direction: column-reverse;
    }
    .img-area img{
        width: 95%;
    }
}