.header{
    margin: 20px auto;
    width: fit-content;
}

.header a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    margin: 20px;
}

.header a:hover{
    color: orange;
    border-bottom: 2px solid orange;
}

@media screen and (max-width: 780px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .header a{
        font-size: 18px;
        margin: 12px;
    }
}